{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/index.css' %}">
    <title>Greetings</title>
    <!-- <style> 
        body{
            background-color: bisque;
            color:blueviolet;
        }
    </style> -->
</head>
<body>
    {% if name == 'Ivan' %}
        <h1>Hello {{ name }}!</h1>
    {% else %}
        <h1>Hello Anonymous!</h1>
    {% endif %}
    <p>Welcome to the main page.</p>
    
</body>
</html>